In [1]:
#CARGAMOS LIBRERIAS
import pandas as pd
import numpy as np
import ast

In [3]:
# Leer el contenido del archivo: user_reviews.json
user_items = []
with open('./australian_users_items.json', 'r', encoding='utf-8') as f:
    for line in f.readlines():
        user_items.append(ast.literal_eval(line))

# Crear el DataFrame anidado
df_items_anidado = pd.DataFrame(user_items)

In [9]:
#trabajo con una copia para volver a ejecutar el codigo si hay algun error
df_items_anidadocopy=df_items_anidado.copy()

In [10]:
df_items_anidadocopy.head(4)

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."

In [12]:
#quito las columnas que no voy a usar
df_items_anidadocopy=df_items_anidadocopy.drop(['steam_idl','items_count'],axis=1)

In [13]:
df_items_anidadocopy.head()

             user_id                                              items
0  76561197970982479  [{'item_id': '10', 'item_name': 'Counter-Strik...
1            js41637  [{'item_id': '10', 'item_name': 'Counter-Strik...
2          evcentric  [{'item_id': '1200', 'item_name': 'Red Orchest...
3         Riot-Punch  [{'item_id': '10', 'item_name': 'Counter-Strik...
4              doctr  [{'item_id': '300', 'item_name': 'Day of Defea...

In [14]:
# Normalizar la columna 'items' 
df_items_anidadocopy = df_items_anidadocopy.explode('items')
# reseteo el index
df_items_anidadocopy.reset_index(drop=True, inplace=True)

#eliminamos los vacios de la columna review
df_items_anidadocopy = df_items_anidadocopy.dropna(subset=['items'])

In [15]:
df_items_anidadocopy.head(2)

             user_id                                              items
0  76561197970982479  {'item_id': '10', 'item_name': 'Counter-Strike...
1  76561197970982479  {'item_id': '20', 'item_name': 'Team Fortress ...

In [16]:
# Filtrar las filas con valores no nulos en la columna "data"
df_items_anidadocopy = df_items_anidadocopy.dropna(subset=['items'])

# Desanidar y seleccionar columnas espec√≠ficas utilizando json_normalize
df_items = pd.json_normalize(df_items_anidadocopy['items']).loc[:, ['item_id','playtime_forever']]

In [17]:
df_items_anidadocopy.tail()

                   user_id                                              items
5170009  76561198329548331  {'item_id': '346330', 'item_name': 'BrainBread...
5170010  76561198329548331  {'item_id': '373330', 'item_name': 'All Is Dus...
5170011  76561198329548331  {'item_id': '388490', 'item_name': 'One Way To...
5170012  76561198329548331  {'item_id': '521570', 'item_name': 'You Have 1...
5170013  76561198329548331  {'item_id': '519140', 'item_name': 'Minds Eyes...

In [18]:
#quito la columna de items del df
df_items_anidadocopy=df_items_anidadocopy.drop(['items'],axis=1)
df_items_anidadocopy.head(2)

             user_id
0  76561197970982479
1  76561197970982479

In [47]:
df_items.head(2)

  item_id              item_name  playtime_forever
0      10         Counter-Strike                 6
1      20  Team Fortress Classic                 0

In [19]:
# Concatena los DataFrames utilizando el √≠ndice
df_items_completo = pd.concat([df_items_anidadocopy, df_items], axis=1)

In [20]:
#quito las columnas con 0 horas jugadas
df_items_completo = df_items_completo[df_items_completo['playtime_forever'] != 0]

#reseteo el index
df_items_completo.reset_index(drop=True, inplace=True)

In [8]:
df_items_completo.head()

             user_id  item_id  playtime_forever
0  76561197970982479     10.0               6.0
1  76561197970982479     30.0               7.0
2  76561197970982479    300.0            4733.0
3  76561197970982479    240.0            1853.0
4  76561197970982479   3830.0             333.0

In [9]:
# guardo el archivo con solo los juegos en un csv
nombre_archivo = "../FastAPI/items.csv"

df_items_completo.to_csv(nombre_archivo, index=False)

In [2]:
df_items_completo=pd.read_csv('../../fastapi/items_reducido.csv')

In [4]:
df_items_completo.head(4)

             user_id   item_id  playtime_forever
0          BigLezzly  113200.0             294.0
1  76561198071559369  206420.0             271.0
2  76561197972609650  218620.0             913.0
3           oBOLANDo  301520.0             317.0